/* Tableau Page Header */
    ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(57, 112, 163);
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: whitesmoke;
    color: rgb(103, 144, 182)
  }
  
  .active {
    background-color: rgb(103, 144, 182);
  }


/* Tableau Styles */
body{
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color: #555555;
  background-color: whitesmoke;
}

h1{
  color: rgb(57, 112, 163);
}

.center {
  margin: auto;
  width: 70%;
  text-align: center;
}

.links{
  text-align: center;
  text-decoration: none;
  color:whitesmoke;
}

.linktext{
  text-decoration: none;
  color:whitesmoke;
}

.button {
  margin: auto;
  width: 30%;
  padding: 0;
  overflow: hidden;
  background-color:rgb(103, 144, 182)
}


.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(103, 144, 182);
  color: white;
  text-align: center;
}
